/*--------------------------------------------------------------
# Typography
--------------------------------------------------------------*/



/*--------------------------------------------------------------
# Accessibility
--------------------------------------------------------------*/
/* Text meant only for screen readers. */
.screen-reader-text {
	clip: rect(1px, 1px, 1px, 1px);
	position: absolute !important;
	height: 1px;
	width: 1px;
	overflow: hidden;
	word-wrap: normal !important; /* Many screen reader and browser combinations announce broken words as they would appear visually. */
}

.screen-reader-text:focus {
	background-color: #f1f1f1;
	border-radius: 3px;
	box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
	clip: auto !important;
	color: #21759b;
	display: block;
	font-size: 14px;
	font-size: 0.875rem;
	font-weight: bold;
	height: auto;
	left: 5px;
	line-height: normal;
	padding: 15px 23px 14px;
	text-decoration: none;
	top: 5px;
	width: auto;
	z-index: 100000; /* Above WP toolbar. */
}


/* ------Tailwind----- */

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
	.highlight {
		background: linear-gradient(0deg, rgb(232 181 0 / 29%) 0%, rgba(250,251,238,1) 56%);
		border-bottom: 2px solid #f6c411 !important;
	}
	.primary-button {
		color: #fafbee;
		background-color: #04773B;
		border-color: #04773B;
		border-radius: 10px;
		text-transform: uppercase;
		padding: .5rem 1rem;
		font-weight: 700;
	}
	.primary-button-hover {
		color: #053B06;
		background-color: #f1c834;
		border-color: #f1c834;
		font-weight: 700;
	}
	.secondary-button {
		color: #04773B;
		border-color: 04773B;
		border: 2px solid #04773B;
		border-radius: 10px;
		text-transform: uppercase;
		padding: .5rem 1rem;
		font-weight: 700;
	}
	.secondary-button-hover {
		color: #ae8b0c;
		border-color: #ae8b0c;
		border: 2px solid #ae8b0c;
		font-weight: 700;
	}

	.check {
		background-color: #f1c834 !important;
		color: #053B06 !important;
	}
}


/* React Tabs Styling */

.react-tabs {
	-webkit-tap-highlight-color: transparent;
	border: 0.5px solid #aaa;
	border-radius: 5px;
  }
  
  .react-tabs__tab-list {
	border-bottom: 1px solid #aaa;
	margin: 0 0 10px;
	padding: 0;
	background-color: rgb(57, 194, 57);
	display: flex;
	justify-content: space-between;
  }
  
  .react-tabs__tab {
	display: inline-block;
	border: 1px solid transparent;
	border-bottom: none;
	bottom: -1px;
	position: relative;
	list-style: none;
	padding: 6px 12px;
	cursor: pointer;
	width: 33.33%;
	text-align: center;
  }
  
  .react-tabs__tab--selected {
	background: #fff;
	border-color: #aaa;
	color: black;
	border-radius: 5px 5px 0 0;
	width: 33.34%;
  }
  
  .react-tabs__tab:focus {
	outline: none;
  }
  
  .react-tabs__tab:focus:after {
	content: '';
	position: absolute;
	height: 5px;
	left: -4px;
	right: -4px;
	bottom: -5px;
	background: #fff;
  }
  
  .react-tabs__tab-panel {
	display: none;
  }
  
  .react-tabs__tab-panel--selected {
	display: block;
  }


  /* Carousels - See other projects */

  .carousel-inner {
	height: 400px;
  }
