
/*--------------------------------------------------------------
# Accessibility
--------------------------------------------------------------*/
/* Text meant only for screen readers. */
.screen-reader-text {
	clip: rect(1px, 1px, 1px, 1px);
	position: absolute !important;
	height: 1px;
	width: 1px;
	overflow: hidden;
	word-wrap: normal !important; /* Many screen reader and browser combinations announce broken words as they would appear visually. */
}

.screen-reader-text:focus {
	background-color: #f1f1f1;
	border-radius: 3px;
	box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
	clip: auto !important;
	color: #21759b;
	display: block;
	font-size: 14px;
	font-size: 0.875rem;
	font-weight: bold;
	height: auto;
	left: 5px;
	line-height: normal;
	padding: 15px 23px 14px;
	text-decoration: none;
	top: 5px;
	width: auto;
	z-index: 100000; /* Above WP toolbar. */
}


/* ------Tailwind----- */

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
	.highlight {
		background: linear-gradient(0deg, rgb(232 181 0 / 29%) 0%, rgba(250,251,238,1) 56%);
		border-bottom: 2px solid #f6c411 !important;
	}
	.primary-button {
		color: #fafbee;
		background-color: #04773B;
		border: 1px solid #04773B;
		border-radius: 10px;
		text-transform: uppercase;
		padding: .5rem 1rem;
		font-weight: 700;
	}

	.primary-button-hover {
		color: #053B06;
		background-color: #f1c834;
		border: 1px solid #f1c834;
		font-weight: 700;
	}

	.copied-email-button {
		color: #053B06;
		background-color: #f1c834;
		border: 1px solid #f1c834;
		border-radius: 10px;
		text-transform: uppercase;
		padding: .5rem 1rem;
		font-weight: 700;
	}

	.secondary-button {
		color: #04773B;
		border: 2px solid #04773B;
		border-radius: 10px;
		text-transform: uppercase;
		padding: .5rem 1rem;
		font-weight: 700;
	}

	.secondary-button-dark {
		color: #FAFBEE;
		border: 2px solid #FAFBEE;
		border-radius: 10px;
		text-transform: uppercase;
		padding: .5rem 1rem;
		font-weight: 700;
	}
	.secondary-button-hover {
		color: #ae8b0c;
		border: 2px solid #ae8b0c;
		font-weight: 700;
	}

	.secondary-button-hover-dark {
		color: #f1c834;
		border: 2px solid #f1c834;
		font-weight: 700;
	}

	.check {
		background-color: #f1c834 !important;
		color: #053B06 !important;
	}

	.home-intro p {
		font-size: 1.2rem;
		margin-top: 2.5rem;
		margin-bottom: 2.5rem;
	}

	@media (min-width: 37.5rem) {
		.home-intro p {
			font-size: 1.3rem;
		}
	}

	@media (min-width: 48rem) {
		.home-intro p {
			margin-top: 1.5rem;
			margin-bottom: 1rem;
		}
	}
}


/* React Tabs Styling */

.react-tabs {
	-webkit-tap-highlight-color: transparent;
	border: 0.5px solid #FAFBEE;
	border-radius: 5px;
  }
  
  .react-tabs__tab-list {
	border-bottom: 1px solid #FAFBEE;
	margin: 0;
	padding: 0;
	background-color: #04773B;
	display: flex;
	justify-content: space-between;
	border-top-right-radius: 10px;
	border-top-left-radius: 10px;
	font-weight: 700;
	font-size: calc(0.7rem + 0.5vw);
	color: #FAFBEE;
  }
  
  .react-tabs__tab {
	display: inline-block;
	border: 1px solid transparent;
	border-bottom: none;
	bottom: 0px;
	position: relative;
	list-style: none;
	padding: 6px 12px;
	cursor: pointer;
	width: 33.33%;
	text-align: center;
  }
  
  .react-tabs__tab--selected {
	background: #FAFBEE;
	border-bottom: 1px solid #FAFBEE;
	border-color: #FAFBEE;
	color: #053B06;
	border-radius: 7px 7px 0 0;
	width: 33.34%;
	text-decoration: underline;
	text-decoration-color: #ae8b0c;
  }
  
  .react-tabs__tab:focus {
	outline: none;
  }
  
  .react-tabs__tab:focus:after {
	content: '';
	position: absolute;
	height: 0px;
	left: -4px;
	right: -4px;
	bottom: -5px;
	background: #FAFBEE;
  }
  
  .react-tabs__tab-panel {
	display: none;
	padding: 1rem;
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
  }

  .react-tabs__tab-panel h3 {
	  font-size: 1.1rem;
	  font-weight: 700;
	  color: #053B06;
	  padding: 1rem 0;
  }

  .react-tabs__tab-panel h4 {
	  font-size: 1rem;
	  text-decoration: underline;
	  font-style: italic;
	  padding: 1rem 0;
  }

  .react-tabs__tab-panel ul {
	  list-style: disc;
	  list-style-position: inside;
  }

  .react-tabs__tab-panel li {
	  padding-bottom: 0.5rem;
  }

  
  .react-tabs__tab-panel--selected {
	display: block;
	background-color: #FAFBEE;
  }


  /* Carousels - See other projects */

  .carousel-inner {
	height: 350px;
  }

  @media (min-width: 22.5rem) {
	.carousel-inner {
	  height: 400px;
  }
}

  @media (min-width: 28.125rem) {
	.carousel-inner {
	  height: 450px;
  }
}

@media (min-width: 50rem) {
	.carousel {
		max-width: 75%;
		margin: 0 auto;
	}
}


